body{
    background:#F1F1F1;
    padding:0;
    margin:0;
}
 *{
     text-decoration: none;
     text-transform: none;
 }

img{
    border-radius:20px;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    position: absolute;
    position:fixed;
    right:10px;
    top:0px;
}

#logo{
    position: absolute;
    position:fixed;
    left:10px;
    top:0px;
    margin:20px;
    font-size:2em;
}


#fond{
    position:absolute;
    position:fixed;
    background: red;
    height: 11vw;
    top:Opx;
}

li{
    display:flex;
    display:inline-block;
    margin:13px;
    color:black;
}

.center{
    display:flex;
    justify-content: center;
  
}

.img-center{
    position:absolute;
    top:-60px;
    z-index:1;
}

.image-items{
    height:400px;
    width:360px;
}

#margin{
    margin:500px;
}

.descend{
    position: absolute;
    position: fixed;
    bottom:30px;
    height:80px;
    width:80px;
    background-color: rgba(253, 122, 194, 0.5);
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index:2;
    font-size:2em;
    border-radius:50px;
}

.size-logo{
    height:100px;
    width:100px;
    margin:15px;
}

.fond-footer{
    padding:30px;
    background: red;
}


/*https://img.icons8.com/cotton/64/000000/circled-chevron-up.png*/

/*https://img.icons8.com/cotton/64/000000/circled-chevron-down--v2.png*/
