{% extends 'base.html.twig' %}

{% block  metatitle %}market+ accueil{% endblock %}

{% block content %}
    <div class="center">
        <img class="img-center" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-pink-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1629842709000" />
        <div id="margin"></div>
    </div>

    <div class="center">
        <img class="image-items" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-pro-graphite-select?wid=940&hei=1112&fmt=png-alpha&.v=1631652957000"/>
        <img class="image-items" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-midnight-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1629907844000"/>
    </div>
    <br><br><br><br><br><br>

{% endblock content %}
